# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\资源文件\SpringBoot\demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
